/* Override some defaults */
html, body {
	background-color: #fefefe;
	color: #666;
	width:760px;
	margin: 0 auto;
	font-size: 1em;
	font-family: Arial,Helvetica,sans-serif;
}

p {
	margin: 0;
	line-height: 1.2em;
	text-indent: 1.2em;
	margin-bottom: 0.6em;
	
}

a{
	text-decoration: none;
}

.clearfix{
	clear:both;
}

.navbar {
  margin: 0 30px 0 0;
  width: 170px;
  float: left;
  font-size: 0.8em;
  text-align: right;
}

.container{
	margin: 0 0 20px 0;
	float: left;
	width: 560px;
}

.link_nav{
	color: #ddd;
	font-size: 0.8em;
	display: block;

}

.link_nav:hover{
	color: #111;
}

header{
	font-size: 3em;
	margin: 1em 0 2em 200px;
	font-weight: bold;
}

.brand{
	color: #666;
}
.brand:hover{
	color: #111;
}
.logo{
	margin-bottom: -2px;
}
.post_title_index{
	color: #666;
	font-weight: bold;
	margin-bottom: 1em;
	display: block;
	font-size: 1.1em;
}

.post_title_index:hover{
	color: #111;
}

.post_content{
	margin: 0 0 1em 1em;
	overflow: hidden;
}

.post_detail{
	text-align: right;
	color: #ddd;
	margin-bottom: 1em;
	display: block;
	font-size: 0.8em;
}

.post_detail:hover{
	color: #666;
}

footer {
	margin: 20px 0;
	color: #ddd;
	font-size: 0.8em;
}
footer p {
	text-align: center; /* center align it with the container */
}
footer a{
	color: #ddd;
}
footer a:hover{
	color: #111;
}















/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	